/*

This is the first attempt of the landing page project

* {
    border: 2px solid red;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.logo {
    font-size: 24px;
}

.main-one {
    flex: 1 1 auto;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 50px 80px;
    gap: 30px;
}

.main-one-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-one-left p,
.main-one-left button {
    flex: 1;
    margin: 0;
}

.main-one-right {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.main-one-title {
    font-size: 48px;
    font-weight: 800;
}

.main-one-text {
    color: #e5e7eb;
}

.main-two {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 80px;
}

.main-two-header {
    font-size: 36px;
    font-weight: 800;
}

.main-two-body {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    gap: 40px;
}

.main-two-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 130px;
}

.main-two-info p {
    text-align: center;
}

.main-two-img {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 130px;
    width: 130px;
}

.main-three {
    flex: 1 1 auto;
    background-color: #efe7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.main-three-info {
    display: flex;
    flex-direction: column;
    margin: 0 130px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 0;
}

.author {
    text-align: right;
}

.main-four {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-four-info {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    margin: 40px 80px;
    padding: 30px 70px;
    border-radius: 10px;
    gap: 20px;
}

.main-four-text {
    display: flex;
    flex-direction: column;
}

.main-four-text p {
    margin: 0;
    color: #e5e7eb;
}

ul {
    list-style: none;
    display: flex;
    color: #e5e7eb;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px 0;
}

*/

* {
    border: 2px solid red;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #efe7eb;
}

.one * {
    flex: 1;
}

.one {
    display: flex;
    padding: 40px 80px;
    background-color: #1f2937;
    gap: 10px;
}

.one h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.one p {
    color: #efe7eb;
}

.one-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.one-img {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f9faf8;
    border-radius: 5px;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.two-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}

.two-body {
    display: flex;
    align-items: center;
    gap: 30px;
}

.two-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 135px;
}

.box {
    border: 2px solid #3882f6;
    border-radius: 10px;
    height: 135px;
    width: 135px;
}