* {
    border: 2px solid red;
}

body {
    display: flex;
    /* Remember "flex: ;" for the items inside the body */
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.main-one {
    flex: 1 1 auto;
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
}

.main-one-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-one-title {
    font-size: 48px;
    font-weight: 800;
}

.main-one-text {
    color: #e5e7eb;
}

.main-two {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-two-body {
    display: flex;
    justify-content: center;
}

.main-two-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-two-info p {
    text-align: center;
}

.main-two-img {
    border: 1px solid #3882f6;
    border-radius: 3px;
    height: 100px;
    width: 100px;
}

.main-three {
    flex: 1 1 auto;
    background-color: #efe7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-three-info {
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 200;
    text-align: left;
}

.author {
    text-align: right;
}

.main-four {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-four-info {
    display: flex;
    align-items: center;

}

.main-four-text {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    color: #e5e7eb;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}